body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #222831;
    color: #EEEEEE;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    font-size: 32px;
}

.big-container {
    display: flex;
    justify-content: space-around;
}

#title-options {
    text-align: center;
    font-size: 30px;
}

.options-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.top {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 40px;
}

.bottom {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
}

#grid-size-text {
    margin: 0;
}

label {

    text-align: center;
}

.btn {
    font-size: 20px;
    color: #EEEEEE;
    background-color: #393E46;
    border-radius: 6px;
    padding: 10px 30px;
    border: 1px solid #EEEEEE;
}

button:active {
    transform: translateY(2px);
    background-color: #282b31;
}

button:hover {
    transform: translateY(-3px);

}


#grid-size-input {
    accent-color: #00ADB5;
}

.grid {
    box-sizing: border-box;
}


.grid-container {
    display: flex;
    width: 500px;
    height: 500px;
    flex-wrap: wrap;
    gap: 0px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(245, 244, 244, 0.19);
    flex-shrink: 0;


}